body {
    background-image: linear-gradient(rgb(94, 213, 237), red, yellow) ;
}

.top {
    background-image: url(djewxve-ca6c396a-fbfd-4d82-b91c-c3e54d99b253.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 1000px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.middle-slider {
    display: flex;
    width: 100%;
    height: var(--height);
    min-width: calc(var(--width) * var(--quantity));
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10% 90%, transparent);
}

.container .main-content .middle-slider .class {
    width: var(--width);
    height: var(--height);
    text-align: center;
    position: absolute;
    left: 100%;
    animation: slide 10s linear infinite;
    animation-delay: calc(10s / var(--quantity) * (var(--position) * -1)); /* To set a delay of animation based on the position number of the element*/
    font-size: calc(var(--height) / 2);
    align-content: center;
    font-family: "Pirata One", serif;
    font-weight: 900;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1)
    }
}

.middle-slider:hover {
    animation-play-state: paused!important; /* To pause the animation when you hover on the items */
}